<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="file-mover">
        <from uri="file:C:/Users/sdemir/IdeaProjects/CamelTutorial/FileMoverWithYaml/src/main/resources/tmp/files"></from>
        <log message="Headers: ${headers}"></log>
        <log message="Body: ${body}"></log>
        <to uri="file:C:/Users/sdemir/IdeaProjects/CamelTutorial/FileMoverWithYaml/src/main/resources/tmp/files/processed"></to>
    </route>
</routes>